@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid salmon;
} */

* {
  scroll-behavior: smooth;
}

div {
  user-select: none;
}

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    position: relative;
  }
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
